*{
    margin-top: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
p{
    text-align: center;
}
input{
    width: 300;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-wrap {
    min-height: 100vh;
}
form .error {
    color: #ff0000;
}
#flash {
    display: none;
}
#flash-msg{
    display: none;
}
#copyform{
    display: none;
}
.btn-submit{
    margin-top: 51px;
    margin-left: 40px;
    float: left;
}
.container{
    padding: 0px;
    margin: 20px;
}
.day{
    margin: 20px;
}
h1{
    margin: 20px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.remember{
    margin-left: auto;
    margin-right: auto;
/*     text-align: center; */
    width: 150px;
    position: relative;
/*     margin: auto; */
}
#login #remember_me{
/*     position: absolute; */
    float: left;
    width: 25px;
}
#login .remember_label{
    float: left;
    margin-left: 10px;
/*     position: absolute; */
/*     text-align: center; */
/*     left: 1px; */
}
#login .button{
    margin-top: 71px;
    clear:both
}