*{
    margin-top: 10px;
}
p{
    text-align: center;
}

form .error {
    color: #ff0000;
}
#flash {
    display: none;
}
#flash-msg{
    display: none;
}
#copyform{
    display: none;
}
.day{
    margin: 20px;
}