<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        {% block title %}{% endblock %}
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='css/style.css')}}">
        <title>Faculty Schedule</title>
    </head>
    <body>
        <div>
            {% for cat, msg in get_flashed_messages(True) %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
                </ul>
            {%endfor %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        
    </body>
</html>