{% extends "base.html" %}

    {% block title %}
        <title>Login</title>
    {% endblock %}

{% block content %}
    <div id="login">
        <p class="h1 text-center">Sign In</p>
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-4">
            <form class="text-center" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32, class="form-control") }}<br>
                    {% for error in form.username.errors %}
                        <span style = "color:red;">{{error}}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32, class="form-control") }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <p class="remember">{{ form.remember_me() }} {{ form.remember_me.label(class="remember_label") }}</p>
                <p class="button">{{ form.submit(class_="btn btn-success") }}</p>
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
</body>
</html>