{% extends "base.html" %}
{% block content %}
<h2 class="text-center">Add semester schedule</h2>
<div class="container">
    <div class="row justify-content-center">
        <div id="flash" class="alert alert-danger col-4" role="alert">
        </div>
    </div>
</div>
<form action="" class="ml-2" id="semester-form" method="POST">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="groupname">Group Name</label>
            <input id="groupname" class="form-control" type="text" aria-describedby="group-help" name="groupname" size="12" placeholder="Enter group name">
            
        </div>
        <div class="form-group col-md-2">
            <label for="total-hours">Total Hours</label>
            <input id="total-hours" class="form-control" type="number" name="total_hours">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="date-from">Date from</label>
            <input id="date-from" class="form-control" type="date" name="date-from">
        </div>
        <div class="form-group col-md-2">
            <label for="date-to">Date to</label>
            <input id="date-to" class="form-control" type="date" name="date-to">
        </div>
        <div class="form-group col-md-2">
            <label for="add-subject">Add Subjects</label>
            <input id="add-subject" class="form-control btn btn-primary" type="button" name="add-subject" value="Add">
        </div>
    </div>
    <div id="subject-container">
    </div>
    <br><br>
    
    <button id="submit" class="btn btn-success" type="submit" name="submit">Create</button>
</form>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script type=text/javascript src="{{
    url_for('static', filename='js/form.js')}}"></script>

    <script type=text/javascript src="{{
        url_for('static', filename='js/index.js')}}"></script>
    
{% endblock %}