{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type = "text/css" href="{{
        url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
    <h1 class="h1 text-center"> Schedule</h1>
    <form id="add-form" action="{{ url_for('index') }}" method="post" novalidate >
        {{ form.hidden_tag() }}
        <div class="form-row ml-2"> 
            <div class="form-group col-md-2">
                {{ form.groupname.label }}<br>
                {{ form.groupname(size=12, class="form-control")}}<br>
                {% for error in form.groupname.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-2">
                {{ form.from_day.label }}<br>
                {{ form.from_day(class="form-control") }}<br>
                {% for error in form.from_day.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-2">
                {{ form.to_day.label }}<br>
                {{ form.to_day(class="form-control") }}<br>
                {% for error in form.to_day.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {{ form.submit(class="btn btn-success") }}
        </div>
        </form>
    {% for date, lessons in day_schedules.items() %}
        <h3> {{date}} </h3>
        <table class="table table-striped text-center form-group">
        {% for lesson in lessons %}
        <tr>
            <td> {{ lesson.order }}</td>
            <td> 9:00 10:20  </td>
            <td> {{lesson.teacher.name}} {{lesson.teacher.surname}} {{lesson.teacher.patronymic}}</td>
            <td> {{lesson.subject.title}}  {{lesson.subject.subj_type}}</td>
        </tr>
        {% endfor %}
        </table>
    {% endfor %}

    <script type=text/javascript src="{{
        url_for('static', filename='js/index.js') }}"></script>
    
{% endblock %}